<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.project"
            description="Configure Whiley Build Path"
            id="wyclipse.jdt.configureWhileyBuildPath"
            name="Whiley Build Path">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu
               commandId="wyclipse.jdt.configureWhileyBuildPath"
               id="configureWhileyBuildPathMenu"
               label="Whiley Build Path">
	   <enabledWhen>
	     <adapt type="org.eclipse.core.resources.IProject">
	       <test
		   property="org.eclipse.core.resources.projectNature"
		   value="wyclipse.core.whileynature"/>
	     </adapt>         
	   </enabledWhen>	   
            <command
                  commandId="wyclipse.jdt.configureWhileyBuildPath"
                  label="Configure"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
  
  
  
  


  

</plugin>
